<html>
  <head>
    <meta charset="utf-8">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="/1.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title></title>
      <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/631866277580898334/835417119407341578/icon.png" type="image/x-icon">

  </head>
  <body>
  <div class="reg" align="center">
      <h1></h1>
      <form method="post">
          <ul>
            <input type="text" placeholder="Enter update: Update #?" name="update_desctop_client" id="update_desctop_client">
              <input type="text" placeholder="Enter description" name="disc_of_update" id="disc_of_update">
              <input type="text" placeholder="Enter Link" name="link" id="link">
              <button type="submit">Commit</button>
          </ul>
      </form>
  </div>
  </body>
</html>