<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/1.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Description</title>
      <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/631866277580898334/835417119407341578/icon.png" type="image/x-icon">
      <style>
         .print_description:hover {
             border: 7px dashed #0866d1;
             width: 1200px;
             margin: 0 auto;
         }
      </style>
  </head>
  <body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="/home">QC Messenger</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/home">Home</a>
        <a class="p-2 text-dark" href="/download">Download</a>
        <a class="p-2 text-dark" href="/description">Description</a>
        <a class="p-2 text-dark" href="/about">About the project</a>
        <a class="p-2 text-dark" href="/sup">Support</a>
        <a class="p-2 text-dark" href="/login/reg">Registration</a>
    </nav>
</div>
  <div align="center" class="print_description">
     <h1>Main login window</h1>
  <h2>Main Login Window this is the main login window.</h2>
  <h2>To log in to the messenger, you need to register.</h2>
  <h2><img src="https://sun9-8.userapi.com/impg/13H85kBh4s7XEBtsZX8z_Wuw46Nz2HqiVJ3zDA/V7U63o6eOow.jpg?size=240x350&quality=96&sign=a223fbbabf1d82f7a9239e5eee5b1d46&type=album"></h2>
  </div>
  <div align="center" class="print_description">
     <h1>Main window</h1>
      <h2>This is the main window of the messenger.</h2>
      <h2>Here you can add dialogs, enter dialogs, and view important information.</h2>
      <h2>On the right are the buttons for viewing the weather, covid 19 statistics.</h2>
      <h2>There is also a built-in player, through which you can listen to your music.</h2>
  <h2><img src="https://sun9-32.userapi.com/impg/cay0DrK3D05rsa5_xbv__7WpfZa35dQLe36UFQ/XDOHEFQJU44.jpg?size=798x629&quality=96&sign=88d1d4c0329085740c565efcda6a63f8&type=album"></h2>
  </div>
  <div align="center" class="print_description">
     <h1>Main dialog window</h1>
      <h2>Main dialog window is the main window for communicating with people.</h2>
      <h2>There is also a panel with important information.</h2>
  <h2><img src="https://sun9-63.userapi.com/impg/XXXhPsQHSuQx1LIUn_gQxW1BP8jHLF8eXLrjWg/cvDuQrz-Kp0.jpg?size=799x632&quality=96&sign=877fecee529e9a2b495ed0f76f7150b9&type=album"></h2>
  </div>
    <div align="center" class="print_description">
     <h1>These are the settings.</h1>
      <h2>Here you can view your data and check for updates.</h2>
  <h2><img src="https://sun9-22.userapi.com/impg/4GV77gqAGjF-gT-aelUh0fMd7OqjDWl7bjoJdA/hbe8M8EcvjY.jpg?size=581x312&quality=96&sign=03ead46b37df4fc5827c3479a68f4a7e&type=album"></h2>
  </div>
  <div align="center" class="print_description">
     <h1>Music</h1>
      <h2>This is a built-in player.</h2>
      <h2>Through it, you can listen to music downloaded to your computer.</h2>
  <h2><img src="https://sun9-9.userapi.com/impg/TGwUt3-YqIzRLlVWkQj2vbpbAsWopy9oagYMlA/vB7p7tTr5AQ.jpg?size=679x381&quality=96&sign=4f17000253347417c0eca52f2a890cd3&type=album"></h2>
  </div>
  <div align="center" class="print_description">
     <h1>Weather</h1>
      <h2>This app will help you to view the weather.</h2>
      <h2>You can view the weather in any city in the world, in any language.</h2>
  <h2><img src="https://sun9-13.userapi.com/impg/MvmMHsLi9DY7Tu5G3Nxml5C4EQuK9imdvRdFhQ/X0j4zEK102M.jpg?size=580x596&quality=96&sign=a85bc1d865363ad9c558f16cd060a50e&type=album"></h2>
  </div>
  </body>
</html>