<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/1.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dialogs</title>
    <style>
   .btn {
    display: inline-block;
    background: #8C959D;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
   }
 </style>
  </head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">QC Messanger</h5>
        <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/main">Home</a>
        <a class="p-2 text-dark" href="/dialogs/{{ name_auth }}">Dialogs</a>
    </nav>
</div>

{% if name_auth  == name_auth_ %}
    <!-- <h1>{{ get_split2__ }}</h1>  -->
    {% for el in get_split2__ %}
        <a href="/dialogs/{{ name_auth }}/{{ el }}" class="btn" target="_blank">{{ el }}</a>
     {% endfor %}
{% else %}
    <h1>ne ok</h1>
{% endif %}

</body>
</html>